<header class='d-flex justify-content-center py-3'>
  <ul class='nav nav-pills'>
    <li class='nav-item'><a
        href='/showtimes/today'
        class='nav-link active'
        aria-current='page'
      >Сьогодні</a></li>
    <li class='nav-item'><a href='/showtimes/generate' class='nav-link'>Розклад</a></li>
    <li class='nav-item'><a href='/stats' class='nav-link'>Звіт</a></li>
  </ul>
</header>